In [ ]:
pip install tweepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
#initial imports
import tweepy 
import pandas as pd
import numpy as np 
from tweepy import OAuthHandler 
from tweepy import Cursor 
import nltk as nltk
import seaborn as sns
import re
import string
import warnings
warnings.filterwarnings('ignore')
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import matplotlib.pyplot as plt

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
#Settings Twitter API Key
api_key='2LEkmltQnjgt4NEwAiU3wKfiU'
api_key_secret='Jg0Fl7wkEAVSbJnXpHXXZEySZka9Dg3FxW8H3tqCfaoFjrsowc'

acc_token='143141229-1gfi2d61Aco7beRwqgxTo8DdzjWmaKLmqPZgVepA'
acc_secret='4Cxbo1eNgS6DF69gF7vJ01IXE2hhU7Uo3qAjgvskhTTfo'

In [ ]:
def get_twitter_auth():
    """
    @return:
        - the authentification to Twitter
    """
    try:
        consumer_key = api_key
        consumer_secret = api_key_secret
        access_token = acc_token
        access_secret = acc_secret
        
    except KeyError:
        sys.stderr.write("Twitter Environment Variable not Set\n")
        sys.exit(1)
        
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)
    
    return auth

In [ ]:
def get_twitter_client():
    """
    @return:
        - the client to access the authentification API
    """
    auth = get_twitter_auth()
    client = tweepy.API(auth, wait_on_rate_limit=True)
    return client

In [ ]:
def get_tweets_from_user(twitter_user_name, page_limit=16, count_tweet=20):
    """
    @params:
        - twitter_user_name: the twitter username of a user (company, etc.)
        - page_limit: the total number of pages (max=16)
        - count_tweet: maximum number to be retrieved from a page
        
    @return
        - all the tweets from the user twitter_user_name
    """
    client = get_twitter_client()
    
    all_tweets = []
    
    for page in Cursor(client.user_timeline, 
                        screen_name=twitter_user_name, 
                        count=count_tweet).pages(page_limit):
        for tweet in page:
            parsed_tweet = {}
            parsed_tweet['date'] = tweet.created_at
            parsed_tweet['author'] = tweet.user.name
            parsed_tweet['twitter_name'] = tweet.user.screen_name
            parsed_tweet['text'] = tweet.text
            parsed_tweet['number_of_likes'] = tweet.favorite_count
            parsed_tweet['number_of_retweets'] = tweet.retweet_count
                
            all_tweets.append(parsed_tweet)
    
    # Create dataframe 
    df = pd.DataFrame(all_tweets)
    
    # Revome duplicates if there are any
    df = df.drop_duplicates( "text" , keep='first')
    
    return df

In [ ]:
#function for remove pattern in the input text
def remove_pattern(input_txt, pattern):
  r = re.findall(pattern, input_txt)
  for word in r:
    input_txt = re.sub(word, "", input_txt)
  return input_txt

In [ ]:
# making a dataframe with the bloomberg news
df = get_tweets_from_user("markets")
print("Data Shape: {}".format(df.shape))
df.columns = df.columns.str.replace('text', 'tweet')
bloomberg = df['tweet']
df

Data Shape: (320, 6)

,date,author,twitter_name,tweet,number_of_likes,number_of_retweets
0,2022-06-15 23:02:06,Bloomberg Markets,markets,The head of the biggest gold producer isn’t ab...,4,3
1,2022-06-15 22:42:03,Bloomberg Markets,markets,Wednesday brought at least one positive develo...,4,3
2,2022-06-15 22:40:09,Bloomberg Markets,markets,Moderna’s Covid vaccine for infants and toddle...,5,3
3,2022-06-15 22:00:34,Bloomberg Markets,markets,While hedge funds were busy bailing from stock...,21,11
4,2022-06-15 21:39:01,Bloomberg Markets,markets,Here’s what traders are saying after seeing to...,15,5
...,...,...,...,...,...,...
315,2022-06-13 21:13:31,Bloomberg Markets,markets,It's a good time to be a liquidator https://t....,19,2
316,2022-06-13 21:09:12,Bloomberg Markets,markets,The 101-mile flight will be the shortest from ...,7,3
317,2022-06-13 21:04:55,Bloomberg Markets,markets,Bank of America CFO Alastair Borthwick says cu...,11,3
318,2022-06-13 21:00:31,Bloomberg Markets,markets,Copper is under threat as inflation shows no s...,10,3
319,2022-06-13 20:43:32,Bloomberg Markets,markets,RT @wealth: Newbie crypto investors bought the...,0,34

In [ ]:
# making a dataframe with the wall street journal news
df2 = get_tweets_from_user("wsj")
print("Data Shape: {}".format(df2.shape))
df2.columns = df2.columns.str.replace('text', 'tweet')
wall_street = df2['tweet']
df2

Data Shape: (220, 6)

,date,author,twitter_name,tweet,number_of_likes,number_of_retweets
0,2022-06-15 23:00:20,The Wall Street Journal,WSJ,The U.S. Golf Association limits the number of...,22,6
1,2022-06-15 22:45:03,The Wall Street Journal,WSJ,🎧 Listen: In today's episode of The Journal po...,15,3
2,2022-06-15 22:30:13,The Wall Street Journal,WSJ,"R.I.P., Internet Explorer. Microsoft has pulle...",112,37
3,2022-06-15 22:15:06,The Wall Street Journal,WSJ,"Director James Burrows, who helped create the ...",28,3
4,2022-06-15 22:00:09,The Wall Street Journal,WSJ,Caterpillar's planned relocation of its global...,71,16
...,...,...,...,...,...,...
215,2022-06-13 18:30:10,The Wall Street Journal,WSJ,Microsoft has entered into an agreement with t...,49,19
216,2022-06-13 18:15:13,The Wall Street Journal,WSJ,The Biden administration proposed higher stand...,35,12
217,2022-06-13 18:00:18,The Wall Street Journal,WSJ,Led by slugger Aaron Judge and surprise ace Ne...,63,14
218,2022-06-13 17:45:06,The Wall Street Journal,WSJ,“I told him that it was crazy stuff.” During a...,97,31
219,2022-06-13 17:30:16,The Wall Street Journal,WSJ,Gas prices are hitting record highs across the...,61,28

In [ ]:
# making a dataframe with the yahoo finance news
df3 = get_tweets_from_user("yfinanceplus")
print("Data Shape: {}".format(df3.shape))
df3.columns = df3.columns.str.replace('text', 'tweet')
yahoo_finance = df3['tweet']
df3

Data Shape: (320, 6)

,date,author,twitter_name,tweet,number_of_likes,number_of_retweets
0,2022-06-15 19:42:22,Yahoo Finance Plus,yfinanceplus,"The #Fed raised interest rates by 0.75%, the m...",27,11
1,2022-06-15 14:38:15,Yahoo Finance Plus,yfinanceplus,Another step forward in the fight against #COV...,9,4
2,2022-06-15 13:58:36,Yahoo Finance Plus,yfinanceplus,U.S. #stocks are up ahead of today’s #FOMC mee...,59,19
3,2022-06-14 19:23:00,Yahoo Finance Plus,yfinanceplus,$NIO is the top trending ticker on @YahooFinan...,12,6
4,2022-06-14 16:27:31,Yahoo Finance Plus,yfinanceplus,$ORCL is one of the top #trending stocks on @Y...,23,9
...,...,...,...,...,...,...
315,2022-03-04 17:06:05,Yahoo Finance Plus,yfinanceplus,$SG reported its first quarter post-IPO and in...,6,4
316,2022-03-04 15:30:22,Yahoo Finance Plus,yfinanceplus,Shares of $COST are down despite reporting bet...,14,7
317,2022-03-03 20:51:31,Yahoo Finance Plus,yfinanceplus,Earnings beat: $KR shares have risen over 10% ...,5,6
318,2022-03-03 19:15:55,Yahoo Finance Plus,yfinanceplus,$BMBL is having its wings clipped today. Share...,9,3
319,2022-03-03 17:17:11,Yahoo Finance Plus,yfinanceplus,$SPLK shares are up more than 7% after reporti...,13,4

In [49]:
#Concat all the tweets from the news accounts
a = {'Bloomberg':bloomberg.values, 'Wall Street':wall_street.values, 'Yahoo Finamce':yahoo_finance}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df

,Bloomberg,Wall Street,Yahoo Finamce
0,Wednesday brought at least one positive develo...,🎧 Listen: In today's episode of The Journal po...,"The #Fed raised interest rates by 0.75%, the m..."
1,Moderna’s Covid vaccine for infants and toddle...,"R.I.P., Internet Explorer. Microsoft has pulle...",Another step forward in the fight against #COV...
2,While hedge funds were busy bailing from stock...,"Director James Burrows, who helped create the ...",U.S. #stocks are up ahead of today’s #FOMC mee...
3,Here’s what traders are saying after seeing to...,Caterpillar's planned relocation of its global...,$NIO is the top trending ticker on @YahooFinan...
4,Jerome Powell's assurance that 75 basis points...,The broadband saga around this Oklahoma town s...,$ORCL is one of the top #trending stocks on @Y...
...,...,...,...
315,The 101-mile flight will be the shortest from ...,Heard on the Street: Even if you vowed never t...,$SG reported its first quarter post-IPO and in...
316,Bank of America CFO Alastair Borthwick says cu...,New research suggests that compared with face-...,Shares of $COST are down despite reporting bet...
317,Copper is under threat as inflation shows no s...,Mexico’s populist president is trying to rever...,Earnings beat: $KR shares have risen over 10% ...
318,RT @wealth: Newbie crypto investors bought the...,"Chains like Macy’s, Gap and Kohl’s are scrambl...",$BMBL is having its wings clipped today. Share...
319,RT @opinion: Inflation has come to dominate di...,Senators have reached a bipartisan deal to add...,$SPLK shares are up more than 7% after reporti...

In [ ]:
#remove twitter users
df['clean_tweet'] = np.vectorize(remove_pattern)(df['tweet'], "@[\w]*")

In [ ]:
#remove special characters, numbers and punctuations
df['clean_tweet'] = df['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
df = df.drop(['date', 'author', 'twitter_name', 'number_of_likes', 'number_of_retweets'], axis=1)

df

In [ ]:
#remove short words
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
df.head()

In [ ]:
tokenized_tweet = df['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

In [ ]:
#stem the words
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda sentence: [stemmer.stem(word) for word in sentence])
tokenized_tweet.head()

In [ ]:
#combine words into single sentence
for i in range(len(tokenized_tweet)):
  tokenized_tweet[i] = " ".join(tokenized_tweet[i])

df['clean_tweet'] = tokenized_tweet
df = df.drop(['tweet'], axis=1)
df.head()

In [ ]:
# Generate the Bloomberg word cloud
from pandas.core.common import random_state
all_words = " ".join([sentence for sentence in df['clean_tweet']])

from wordcloud import WordCloud
wordcloud = WordCloud(width=800, height=500, random_state=42, max_font_size=100).generate(all_words)

plt.figure(figsize=(15,8))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [ ]:
# Sentiment calculation based on compound score
def get_sentiment(score):
    """
    Calculates the sentiment based on the compound score.
    """
    result = 0  # Neutral by default
    if score >= 0.05:  # Positive
        result = 1
    elif score <= -0.05:  # Negative
        result = -1

    return result

In [ ]:
# Sentiment scores dictionaries
tweet_sent = {
    "tweet_compound": [],
    "tweet_pos": [],
    "tweet_neu": [],
    "tweet_neg": [],
    "tweet_sent": [],
}

# Get sentiment for the text and the title
for index, row in df.iterrows():
    try:
        # Sentiment scoring with VADER
        tweet_sentiment = analyzer.polarity_scores(row["clean_tweet"])
        tweet_sent["tweet_compound"].append(tweet_sentiment["compound"])
        tweet_sent["tweet_pos"].append(tweet_sentiment["pos"])
        tweet_sent["tweet_neu"].append(tweet_sentiment["neu"])
        tweet_sent["tweet_neg"].append(tweet_sentiment["neg"])
        tweet_sent["tweet_sent"].append(get_sentiment(tweet_sentiment["compound"]))
    except AttributeError:
        pass

# Attaching sentiment columns to the News DataFrame
tweet_sentiment_df = pd.DataFrame(tweet_sent)

tweet_sentiment_df.head()

In [ ]:
# Describe dataframe
tweet_sentiment_df.describe()

In [ ]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('punkt')

In [ ]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
# Expand the default stopwords list if necessary
stop_words = set(stopwords.words('english'))

In [ ]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text
    regex = re.compile("[^a-zA-Z0-9 ]")
    re_clean = regex.sub('', text)
   
    # Create a tokenized list of the words
    words = word_tokenize(re_clean.lower())
    
    # Lemmatize words into root words
    words = [word for word in words if word not in stop_words]
   
    # Convert the words to lowercase
    tokens = [lemmatizer.lemmatize(word) for word in words]
    
    return tokens

In [ ]:
df['tokens'] = df['clean_tweet'].apply(tokenizer)
df.head()

In [ ]:
#imports for use ngrams
from collections import Counter
from nltk import ngrams

In [ ]:
# Function to get tokens
def get_tokens(df):
    tokens = []
    for token in df['tokens']:
        tokens.extend(token)
    return tokens

df_tokens = get_tokens(df)

In [ ]:
def bigram_counter(tokens, N=2): 
    words_count = dict(Counter(ngrams(tokens, n=N)))
    return words_count

In [ ]:
# Generate the Bitcoin N-grams where N=2
bigram_news = bigram_counter(df_tokens, 2)

In [ ]:
# Function token_count generates the top 25 words for a given coin
def token_count(tokens, N=25):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [ ]:
# Use token_count to get the top 10 words for Bitcoin
top_words_news = token_count(df_tokens)
top_words_news